$hover-color:#fff;
$hover-font-color: #ff8729;
$hover-border-color: #ff8729;
$hover-background-color: #ff8729;
$img-box-shadow-color: #ccc;
$box-shadow-color: #ff8729;
$border-color: #aaa;
$txt-color: #fff;
$txt-backgorund-color: rgba(245, 243, 242, .5);
$footer-background-color: #ff8729;
$footer-copyright: #777;